/* this is for header */
.header {
    background-color: #efeadd;
    width: 100%;
    top: 0;
    position: absolute;
}

.profile-aboutme, .profile-stack, .profile-contact {
    width: 100px;
    height: 100px;
}
.icon {
    position: fixed;
    right: 15px;
    top: 15px;
}
.profile-name {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 180px;
    text-align: center;
    text-shadow: #daaa9e 6px 6px 6px;
    margin: 60px auto 0 auto;
    color: #234c46;
}
.profile-pic {
    width: 500px;
    height: 500px;
    border: 3px #62558a;
    border-radius: 50%;
}
.profile-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.profile-title-l, .profile-title-m, .profile-title-r {
    width: 500px;
    height: 500px;
}
.title-wrap-l, .title-wrap-r {
    text-align: center;
    margin: 150px 60px;
}
.profile-title-l-2, .profile-title-r-2 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #62558a;
    text-shadow: #daaa9e 4px 4px 5px;
}
.profile-title-l-1, .profile-title-r-1 {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    color: #62558a;
    text-shadow: #c2bbcd 2px 3px;
}

/* this is for projects */
.projects {
    background-color: #c2bbcd;
    margin-top: 836px;
    position: relative;
    padding: 90px;
}
.portfolio-stack {
    width: 90px;
    height: 90px;
}
.vline-1 {
    height: 450px;
    width: 100px;
    display: block;
    margin-left: 180px;
}
.vline-2 {
    height: 450px;
    width: 100px;
    display: block;
    margin-left: 380px;
}
.swe-right {
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    text-decoration: none;
}
.projects-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.swe-left-wrap {
    position: relative;
    width: 750px;
    height: 450px;
}
.swe-right-wrap {
    position: relative;
    width: 800px;
    height: 450px;
}
.tech-stack-1 {
    position: absolute;
    top: 20px;
    left: 185px;
}
.tech-stack-2 {
    position: absolute;
    top: 180px;
    left: 0px;
}
.tech-stack-3 {
    position: absolute;
    bottom: 10px;
    left: 185px;
}
.project-l {
    position: absolute;
    top: 20px;
    right: 270px;
    color: #efeadd;
    text-shadow: #efeadd 2px 3px 5px;
}
.project-g {
    position: absolute;
    top: 135px;
    right: 100px;
    color: #efeadd;
    text-shadow: #efeadd 2px 3px 5px;
}
.project-j {
    position: absolute;
    bottom: 140px;
    right: 290px;
    color: #efeadd;
    text-shadow: #efeadd 2px 3px 5px;
}
.project-q {
    position: absolute;
    bottom: 30px;
    right: 250px;
    color: #efeadd;
    text-shadow: #efeadd 2px 3px 5px;
}


/* this is for aboutme */
.aboutme {
    background-color: #efeadd;
    margin: 0;
    padding: 15px;
    position: relative;
}
.aboutMe-1 {
    text-align: right;
    margin-right: 180px;
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #62558a;   
    text-shadow: #cb7f1d 2px 3px 4px;
}
.aboutMe-2 a, .aboutMe-3, .aboutMe-4 {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
}
.aboutme-wrap {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.circle-wrap-1 {
    position: relative;
    height: 600px;
    width: 380px;
}
.aboutMe-2, .aboutMe-3, .aboutMe-4 {
    height: 650px;
    width: 350px;
}
.aboutMe-2 p {
    position: absolute;
    top: 130px;
    left: 30px;
    color: #cb7f1d;
    text-align: center;
    text-shadow: #62558a 1px 2px;
}
.aboutMe-2 img {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    opacity: 0.3;
}
.circle-wrap-2 {
    position: relative;
    height: 600px;
    width: 400px;
}
.aboutMe-3 p {  
    position: absolute;
    top: 200px;
    left: 10px;
    color: #cb7f1d;
    text-align: center;
    text-shadow: #62558a 1px 2px;
}
.aboutMe-3 img {
    margin-top: 100px;
    height: 400px;
    width: 400px;
    opacity: 0.3;
}
.circle-wrap-3 {
    position: relative;
    height: 600px;
    width: 360px;
}
.aboutMe-4 p {
    position: absolute;
    bottom: 120px;
    right: 20px;
    color: #cb7f1d;
    text-align: center;
    text-shadow: #62558a 1px 2px;
}
.aboutme-more {
    position: absolute;
    bottom: 100px;
    right: 20px;
    color: #62558a;
    font-size: 45px;
    text-align: center;
    text-shadow: #daaa9e 3px 3px ;
}
.aboutMe-4 img {
    margin-top: 220px;
    height: 400px;
    width: 400px;
    opacity: 0.3;
}




/* this is for contact */
.contact {
    background-color: #efeadd;
    margin: 0;
    padding: 30px;
    position: relative;
    height: 260px;
    width: 100%;
}
.contact-wrap-a a {
    text-decoration: none;
    color: #daaa9e;
    text-shadow: #cb7f1d 3px 4px;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 50px; 
}
.hline {
    height: 10px;
    width: 1050px;
    padding: 20px;
    margin-left: 370px;
    margin-top: 80px;
    display: block;
}
.contact-3 {
    position: absolute;
    top: 110px;
    left: 600px;
}
.contact-2 {
    position: absolute;
    top: 110px;
    left: 900px;
}
.contact-1 {
    position: absolute;
    top: 110px;
    left: 1200px;
}


/* website-wise*/
@media (min-width: 600px) {
    width: 50%;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: overlay;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

