/* this is for header */
.header {
    background-image: url("./image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1200px;
    top: 0;
    position: absolute;
}
.profile-name {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 230px;
    text-align: center;
    margin-top: 450px;
    color: #efeadd;
}
.nav {
    margin-top: 70px;
}
.nav-wrap {
    display: flex;
    flex-direction: row;
    height: 100px;
    font-family: 'Rubik Glitch', cursive;
    font-size: 40px;
    color: #efeadd;
    text-shadow: #9EC4DA 2px 2px;
}
.nav-wrap h3 {
    margin: 1 1 1 1;
    width: 100%;
    text-align: center;
}

/* 
.profile-aboutme, .profile-stack, .profile-contact {
    width: 100px;
    height: 100px;
}
.icon {
    position: fixed;
    right: 15px;
    top: 15px;
}

.profile-pic {
    width: 500px;
    height: 500px;
    border: 3px #62558a;
    border-radius: 50%;
}
.profile-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.profile-title-l, .profile-title-m, .profile-title-r {
    width: 500px;
    height: 500px;
}
.title-wrap-l, .title-wrap-r {
    text-align: center;
    margin: 150px 60px;
}
.profile-title-l-2, .profile-title-r-2 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #62558a;
    text-shadow: #daaa9e 4px 4px 5px;
}
.profile-title-l-1, .profile-title-r-1 {
    font-family: 'Italianno', cursive;
    font-size: 50px;
    color: #62558a;
    text-shadow: #c2bbcd 2px 3px;
} */

/* this is for projects */
.projects {
    background-color: #efeadd;
    margin-top: 1200px;
    padding: 90px;
    overflow: auto;
}
.projects-lightql, .projects-GameBetter, .projects-Jushin, .projects-Quitr {
    height: 1000px;
    font-family: 'Rubik Mono One', sans-serif;
    margin-top: 50px;
}
.projects h2 {
    font-size: 160px;
    text-align: center;
    color: #282828;
}
.projects p {
    font-size: 50px;
    text-align: center;
    color: #282828;
}
.projects button {
    font-size: 30px;
    text-align: center;
    height: 80px;
    width: 400px;
    margin-top: 90px; 
    margin-left: 650px;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: #282828;
    color: #efeadd;
    border: 4px #282828;
    border-radius: 40px;
    box-shadow: 10px 10px #f5f5f5;
}
.projects button:hover {
    background-color: #efeadd;
    color: #282828;
    border: 4px #efeadd;
    border-radius: 40px;
    box-shadow: 10px 10px #000;
}
.tech-stack {
    height: 900px;
}
.tech-stack p {
    font-family: 'Rubik Maze', cursive;
    font-size: 100px;
    text-align: right;
    color: #000;
}
.tech-stack .portfolio-stack {
    height: 150px;
    width: 150px;
    margin: 50px 95px 30px 0px;
    opacity: 0.9;
}

/* 
.portfolio-stack {
    width: 90px;
    height: 90px;
}
.vline-1 {
    height: 450px;
    width: 100px;
    display: block;
    margin-left: 180px;
}
.vline-2 {
    height: 450px;
    width: 100px;
    display: block;
    margin-left: 380px;
}
.swe-right {
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    text-decoration: none;
}
.projects-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.swe-left-wrap {
    position: relative;
    width: 750px;
    height: 450px;
}
.swe-right-wrap {
    position: relative;
    width: 800px;
    height: 450px;
}
.tech-stack-1 {
    position: absolute;
    top: 20px;
    left: 185px;
}
.tech-stack-2 {
    position: absolute;
    top: 180px;
    left: 0px;
}
.tech-stack-3 {
    position: absolute;
    bottom: 10px;
    left: 185px;
}
.project-l {
    position: absolute;
    top: 20px;
    right: 270px;
    color: #62558a;
    text-shadow: #efeadd 2px 3px 5px;
}
.project-g {
    position: absolute;
    top: 135px;
    right: 100px;
    color: #62558a;
    text-shadow: #efeadd 2px 3px 5px;
}
.project-j {
    position: absolute;
    bottom: 140px;
    right: 290px;
    color: #62558a;
    text-shadow: #efeadd 2px 3px 5px;
}
.project-q {
    position: absolute;
    bottom: 30px;
    right: 250px;
    color: #62558a;
    text-shadow: #efeadd 2px 3px 5px;
} */


/* this is for aboutme */
.aboutme {
    background-color: #f5f5f5;
    margin-top: 0;
    padding: 30px;
    height: 900px;
    overflow: hidden;
}
.aboutme p {
    margin-top: 200px;
    margin-right: 400px;
    margin-left: 450px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    text-align: right;
    color: #282828;
}
.link {
    text-decoration: none;
    color: #282828;
}
.link:hover {
    color: #9EC4DA;
    text-shadow: #282828 5px 5px 3px;
}
.aboutme .bg-1 {
    position: absolute;
    height: 400px;
    width: 400px;
    margin-top: -150px;
    margin-left: 1400px;
    border: 1px #f5f5f5;
    border-radius: 50%;
    opacity: 0.6;
}
.aboutme .bg-2 {
    position: absolute;
    height: 600px;
    width: 600px;
    margin-top: -300px;
    margin-left: 100px;
    border: 1px #f5f5f5;
    border-radius: 50%;
    opacity: 0.5;
}



/* .aboutMe-1 {
    text-align: right;
    margin-right: 180px;
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: #62558a;   
    text-shadow: #cb7f1d 2px 3px 4px;
}
.aboutMe-2 a, .aboutMe-3, .aboutMe-4 {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
}
.aboutme-wrap {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.circle-wrap-1 {
    position: relative;
    height: 600px;
    width: 380px;
}
.aboutMe-2, .aboutMe-3, .aboutMe-4 {
    height: 650px;
    width: 350px;
}
.aboutMe-2 p {
    position: absolute;
    top: 130px;
    left: 30px;
    color: #cb7f1d;
    text-align: center;
    text-shadow: #62558a 1px 2px;
}
.aboutMe-2 img {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    opacity: 0.3;
}
.circle-wrap-2 {
    position: relative;
    height: 600px;
    width: 400px;
}
.aboutMe-3 p {  
    position: absolute;
    top: 200px;
    left: 10px;
    color: #cb7f1d;
    text-align: center;
    text-shadow: #62558a 1px 2px;
}
.aboutMe-3 img {
    margin-top: 100px;
    height: 400px;
    width: 400px;
    opacity: 0.3;
}
.circle-wrap-3 {
    position: relative;
    height: 600px;
    width: 360px;
}
.aboutMe-4 p {
    position: absolute;
    bottom: 120px;
    right: 20px;
    color: #cb7f1d;
    text-align: center;
    text-shadow: #62558a 1px 2px;
}
.aboutme-more {
    position: absolute;
    bottom: 100px;
    right: 20px;
    color: #62558a;
    font-size: 45px;
    text-align: center;
    text-shadow: #daaa9e 3px 3px ;
}
.aboutMe-4 img {
    margin-top: 220px;
    height: 400px;
    width: 400px;
    opacity: 0.3;
} */




/* this is for contact */
.contact {
    background-color: #efeadd;
    margin-top: 0;
    padding: 90px;
    height: 30px;
}
.contact-wrap a {
    text-decoration: none;
    color: #282828;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-right: 200px;
}
.contact-wrap {
    display: flex;
    flex-direction: row;
    margin-left: 450px;
}
.contact-wrap a:hover {
    font-family: 'Rubik Glitch', cursive;
    font-size: 50px;
    color: #9EC4DA;
}



/* website-wise*/
@media screen and (min-width: 480px) {
    width: 50%;
}
html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: overlay;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}

